<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finalising</title>
  </head>
  <body>
    <h1>Gelukt!</h1>
    <p>
      Controleer de wijzigingen op
      <a
        href="http://kinko.nl/reserveren"
        target="_blank"
        rel="noopener noreferrer"
        >kinko.nl/reserveren</a
      >
    </p>
  </body>
</html>
