<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gelukt!</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css"
    />
  </head>
  <body>
    <h1>Verbinding is tot stand gekomen!</h1>
    <p>Aantal dagen die nu uitstaan: <%= filteredDates.length %></p>
    <% for (date of filteredDates ) { %>
    <ul>
      <li><%= date %></li>
    </ul>
    <% } %>

    <p>Kies hier de dagen die toegevoegd moeten worden</p>
    <input
      type="text"
      id="basicDate"
      placeholder="Please select Date Time"
      data-input
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

    <div id="preloadedDates" data-test=<%= filteredDates %>></div>

    <script>
      const preloadedDates =
        document.getElementById("preloadedDates").dataset.test;
      $("#basicDate").flatpickr({
        enableTime: false,
        mode: "multiple",
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "l j F, Y",
        defaultDate: preloadedDates,
      });
    </script>
  </body>
</html>
