<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gelukt!</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css"
    />
  </head>
  <body>
    <h1>Verbinding is tot stand gekomen!</h1>
    <!-- <p>Aantal dagen die nu uitstaan: <%= filteredDates.length %></p>
    <% for (date of filteredDates ) { %>
    <ul>
      <li><%= date %></li>
    </ul>
    <% } %> -->

    <form action="/final" method="post">
      <label for="dates">
        <p>
          Kies hier de dagen (niet maandag) die <b>uitgezet</b> moeten worden
        </p></label
      >
      <input
        name="dates"
        size="4"
        type="text"
        id="basicDate"
        placeholder="Dagen om uit te zetten..."
        data-input
      />
      <label for="datesMonday">
        <p>Geselecteerde uitgezette dagen:</p>
        <ul id="selectedDates"></ul>

        <p>Kies hier de maandagen die <b>aangezet</b> moeten worden</p></label
      >

      <input
        name="datesMonday"
        size="4"
        type="text"
        id="basicDateMonday"
        placeholder="Maandagen..."
        data-input
      />

      <p>Geselecteerde maandagen die aangezet moeten worden:</p>
      <ul id="selectedDatesMonday"></ul>
      <button type="submit">Click me!</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

    <script>
      const preloadedDates = JSON.stringify("<%- filteredDates %>")
        .split(",")
        .map((str) => str.trim());

      const preloadedMondays = JSON.stringify("<%- addedMondays %>")
        .split(",")
        .map((str) => str.trim());

      const showDates = (pattern) => {
        function foo(selectedDates, dateStr, instance, pattern) {
          const selectedDatesList = document.getElementById(pattern);
          selectedDatesList.innerHTML = "";

          selectedDates.forEach(function (date) {
            const listItem = document.createElement("li");
            listItem.textContent = date.toLocaleDateString("nl-NL", {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            });
            selectedDatesList.appendChild(listItem);
          });
        }
      };

      $("#basicDate").flatpickr({
        enableTime: false,
        mode: "multiple",
        disable: [
          function (date) {
            // return true to disable
            return date.getDay() === 1;
          },
        ],
        locale: {
          firstDayOfWeek: 1, // start week on Monday
        },
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "l j F, Y",
        defaultDate: preloadedDates,
        onClose: function (selectedDates, dateStr, instance) {
          const selectedDatesList = document.getElementById("selectedDates");
          selectedDatesList.innerHTML = "";

          selectedDates.forEach(function (date) {
            const listItem = document.createElement("li");
            listItem.textContent = date.toLocaleDateString("nl-NL", {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            });
            selectedDatesList.appendChild(listItem);
          });
        },
        onReady: function (selectedDates, dateStr, instance) {
          const selectedDatesList = document.getElementById("selectedDates");
          selectedDatesList.innerHTML = "";

          selectedDates.forEach(function (date) {
            const listItem = document.createElement("li");
            listItem.textContent = date.toLocaleDateString("nl-NL", {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            });
            selectedDatesList.appendChild(listItem);
          });
        },
      });

      $("#basicDateMonday").flatpickr({
        enableTime: false,
        mode: "multiple",
        enable: [
          function (date) {
            // return true to disable
            return date.getDay() === 1;
          },
        ],
        locale: {
          firstDayOfWeek: 1, // start week on Monday
        },
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "l j F, Y",
        defaultDate: preloadedMondays,
        onClose: function (selectedDates, dateStr, instance) {
          const selectedDatesList = document.getElementById(
            "selectedDatesMonday"
          );
          selectedDatesList.innerHTML = "";

          selectedDates.forEach(function (date) {
            const listItem = document.createElement("li");
            listItem.textContent = date.toLocaleDateString("nl-NL", {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            });
            selectedDatesList.appendChild(listItem);
          });
        },
        onReady: function (selectedDates, dateStr, instance) {
          const selectedDatesList = document.getElementById(
            "selectedDatesMonday"
          );
          selectedDatesList.innerHTML = "";

          selectedDates.forEach(function (date) {
            const listItem = document.createElement("li");
            listItem.textContent = date.toLocaleDateString("nl-NL", {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            });
            selectedDatesList.appendChild(listItem);
          });
        },
      });
    </script>
  </body>
</html>
